In [5]:
import pandas as pd

# Your dictionary with data
data = {
    'word': ['banana', 'apple', 'orange'],
    'onset': [1.200, 3.000, 4.600],
    'offset': [2.900, 4.800, 6.800],
    'confidence': [91, 81, 98]
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)
df.to_csv('test_audio.csv', index=False)

# Display the DataFrame
df

     word  onset  offset  confidence
0  banana    1.2     2.9          91
1   apple    3.0     4.8          81
2  orange    4.6     6.8          98

In [8]:
df = pd.read_csv('test_audio.csv')
# df.drop(df.index[-1], inplace=True)
df

  Column1  Column2  Column3  Column4 Column5    Column6
0  banana     1200     2900       91  banana    Correct
1   apple     3000     4800       81  tapple  Incorrect
2  orange     4600     6800       98  orange    Unclear

In [17]:
### import pandas as pd
df = pd.read_csv('RAVLT/sub-M10902762_ses-MOBI1A_task-ravlt1_run-001_lsl/Block3Recall_timestamped.csv')
columns_to_remove = ['relabel', 'val_label']
df.drop(columns=columns_to_remove, inplace=True)
df

KeyError: "['relabel', 'val_label'] not found in axis"

In [18]:
df.to_csv('RAVLT/sub-M10902762_ses-MOBI1A_task-ravlt1_run-001_lsl/Block3Recall_timestamped.csv', index=False)